#tasks{
    margin-bottom: 30px;
    align-items: center;
}
.sign{
    margin-left: 30%;
    background-color: black;


}
.subs{
    width: 300px;
}
.subs1{
    width: 150px;
    background-color: rgb(51, 48, 48);
    color: white;
    border-left-style:double;
    border: 30px;
    border-color: white;
}
.content {
    border: 2px solid gray;
}


#prio{
    width: 50%;
    height: 50%;
    margintop: 0px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yelow{
    background-color: yellow;
}
